[
  {
    "game_name": "mygame",
    "game_path": "../clemgames/mygame",
    "description": "A brief description of mygame",
    "main_game": "mygame",
    "player": "single" | "two" | "multi",
    "image": "none" | "single" | "multi",
    "languages": ["en"],
    "benchmark": ["2.0"]
  }
]