version: 1
formatters:
  simple:
    format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
handlers:
  console:
    class: logging.StreamHandler
    formatter: simple
    stream: ext://sys.stdout
  file_handler:
    class: logging.FileHandler
    formatter: simple
    filename: clembench.log
    encoding: utf8
loggers:
  "clemcore.run":
    handlers: [ console ]
  "clemcore.cli":
    handlers: [ console ]
  "clemcore.backends":
    level: WARNING
    handlers: [ console ]
  "clemcore.clemgame":
    level: WARNING
  "clemcore.clemgame.envs":
    level: INFO
root:
  level: INFO
  handlers: [ file_handler ]