# Local Backends
torch==2.1.1 # fix pytorch version
transformers==4.42.2 # Huggingface
sentencepiece==0.1.99 # FLAN model
accelerate==0.25.0 # FLAN model
einops==0.6.1 # FALCON model
protobuf==4.21.6
bitsandbytes==0.39.0
