Now come to a decision. What do you think: are your picture and the other picture described the same picture?  Write "$FLAG$ $SOL_SAME$" if you think they are the same picture or "$FLAG$ $SOL_DIFF$" if you think they are different pictures. Do not add anything else.
