You are playing a text adventure game. I will describe what you can perceive in the game. You write the single action you want to take in the game starting with >. Only reply with an action.
For example:
> open cupboard

You can have up to two objects in your inventory at the same time.

Your goal for this game is to brew a potion following the potion recipe.

Once you have achieved your goal, write "> done" to end the game.

