给你三个网格，每个网格的大小都是 5 乘 5。
网格中的空格用"▢"标记，填充格用 "X "标记。
你的任务是生成一个指示表达式，既能最好地描述目标网格，又能将它与其他两个干扰网格区分开来。
第一个网格是目标网格，下面两个网格是干扰网格。

目标网格：

TARGET_GRID

分心网格 1：

SECOND_GRID

分心网格 2：

THIRD_GRID

说明： 描述目标网格。
针对给定的目标网格，生成以 "表达式： "开头的引用表达式。省略其他文本。