.5xلديك ثلاث شبكات، حجم كل منها 5
.”X “ تحتوي الشبكات على خلايا فارغة بعلامة ”▢“ وخلايا مملوءة بعلامة
لديك أيضًا تعبير يصف إحدى الشبكات المعطاة.
مهمتك هي تحديد الشبكة التي تطابق تعبير المُعطى.
أعطي فقط رقم (في النص) للشبكة التي تطابق التعبير المعطى عن طريق اختيار أول أو ثاني أو ثالث.

:أول

FIRST_GRID

:ثاني

SECOND_GRID

:ثالث

THIRD_GRID

تعبير الهدف
السؤال: ما هي الشبكة التي يشير إليها التعبير؟
ابدأ بكلمة ”الإجابة: ”، متبوعًا باختيارك.


