.5xلديك ثلاث شبكات، حجم كل منها 5
.”X “ تحتوي الشبكات على خلايا فارغة بعلامة ”▢“ وخلايا مملوءة بعلامة 
.مهمتك هي إنشاء تعبير يصف الشبكة المستهدفة على أفضل وجه مع تمييزها عن الشبكتين الأخريين المشتتتين
.الشبكة الأولى هي الشبكة الهدف، والشبكتان التاليتان هما شبكتان التشتيت

:الشبكة الهدف

TARGET_GRID

:الشبكة المشتتة 1

SECOND_GRID

:الشبكة المشتتة 2

THIRD_GRID

.التعليمات: وصف الشبكة الهدف
.أنشئ تعبير يبدأ بكلمة ”التعبير: ” للشبكة الهدف المحددة


